@model Milstone3_WebApp.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeCode" class="control-label"></label>
                <input asp-for="EmployeeCode" class="form-control" />
                <span asp-validation-for="EmployeeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalId" class="control-label"></label>
                <input asp-for="NationalId" class="form-control" />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryOfBirth" class="control-label"></label>
                <input asp-for="CountryOfBirth" class="form-control" />
                <span asp-validation-for="CountryOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerminationDate" class="control-label"></label>
                <input asp-for="TerminationDate" class="form-control" />
                <span asp-validation-for="TerminationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class ="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PositionId" class="control-label"></label>
                <select asp-for="PositionId" class ="form-control" asp-items="ViewBag.PositionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ManagerId" class="control-label"></label>
                <select asp-for="ManagerId" class ="form-control" asp-items="ViewBag.ManagerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContractId" class="control-label"></label>
                <select asp-for="ContractId" class ="form-control" asp-items="ViewBag.ContractId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PayGradeId" class="control-label"></label>
                <input asp-for="PayGradeId" class="form-control" />
                <span asp-validation-for="PayGradeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryTypeId" class="control-label"></label>
                <input asp-for="SalaryTypeId" class="form-control" />
                <span asp-validation-for="SalaryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyId" class="control-label"></label>
                <input asp-for="CurrencyId" class="form-control" />
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxFormId" class="control-label"></label>
                <input asp-for="TaxFormId" class="form-control" />
                <span asp-validation-for="TaxFormId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label"></label>
                <input asp-for="BaseSalary" class="form-control" />
                <span asp-validation-for="BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImage" class="control-label"></label>
                <input asp-for="ProfileImage" class="form-control" />
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactName" class="control-label"></label>
                <input asp-for="EmergencyContactName" class="form-control" />
                <span asp-validation-for="EmergencyContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactPhone" class="control-label"></label>
                <input asp-for="EmergencyContactPhone" class="form-control" />
                <span asp-validation-for="EmergencyContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationship" class="control-label"></label>
                <input asp-for="Relationship" class="form-control" />
                <span asp-validation-for="Relationship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                <input asp-for="Biography" class="form-control" />
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentProgress" class="control-label"></label>
                <input asp-for="EmploymentProgress" class="form-control" />
                <span asp-validation-for="EmploymentProgress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountStatus" class="control-label"></label>
                <input asp-for="AccountStatus" class="form-control" />
                <span asp-validation-for="AccountStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentStatus" class="control-label"></label>
                <input asp-for="EmploymentStatus" class="form-control" />
                <span asp-validation-for="EmploymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
